$black: #000;
$soft-black: #141414;
$red: #E50914;
$white: #fff;
$grey: #aaa;
$light-grey: #C3C1C0;
$transparency: rgba(0, 0, 0, .10);


$gradient: rgba(0, 0, 0, .80), rgba(0, 0, 0, .80) 100%;

$font-stack: 'Helvetica', sans-serif;

$imgpath: "../img/capa-sinister-war.jpg";

$breakpoint-small: 320px;
$breakpoint-medium: 375px;
$breakpoint-large: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $soft-black;
    font-family: $font-stack;
    color: $white;
}

@import 'header', 'main', 'footer';
